---
---

body {
  text-align: center;
}


.logo {
  page-break-before: always;
  width:50%;
}

table {
    width: 50% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

table td {
    border: 0px !important;
}

table th {
    display: none;
}

table td:first-of-type {
    text-align: left;
    width: 100%;
}

table td:nth-of-type(2) {
    text-align: right;
}

.qrcode {
    border: 2px solid black;
    display:inline-grid;
}

.qrlabel {
    text-align: center;
    margin-bottom: 1em !important;
}

.qrlabel::first-letter {
    text-transform: capitalize;
}

.qrcontainer a {
  color: black;
}

@media screen {
    .qrcontainer {
        display: grid !important;
        place-content: center !important;
    }
    .qrmenu {
        display: none !important;
    }
    .qrpay {
        float: inherit !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
    .qrlabel::before {
      content: "click or ";
    }
}

@media only screen and (max-width:400px) {
  .logo {
    width:100%;
  }
  table {
      width: 100% !important;
  }
}

@media print {
    @page {
        margin: 0px
    }
    body{
      -webkit-print-color-adjust:exact !important;
      print-color-adjust:exact !important;
    }
    .qrcontainer {
        width: 100% !important;
        display: block;
        text-align: center;
    }
    .qrmenu {
        margin: 4em;
    }
    .qrpay {
        margin: 4em;
    }
    .logo {
      margin-top: 4em;
    }
}


@import "{{ site.theme }}";

